@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

:root {
  --primary-color: #F15A24;
  --heading-color: #1A1A1A;
  --text-color: #4E4B66;
}

body {
  background-color: #FFFFFF;
  font-family: "Roboto";
  color: var(--text-color);
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 768px) {
  body {
    font-size: 20px;
    line-height: 30px;
  }
}

h1,
h2,
h3,
h4,
h5,
h5 {
  color: var(--heading-color);
}

.top-navigation nav {
  padding: 24px 16px 24px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .top-navigation nav {
    padding: 24px 32px;
  }
}
.top-navigation__nav-links, .top-navigation__contact-us {
  display: none;
}
@media (min-width: 1024px) {
  .top-navigation nav {
    padding: 32px 40px;
  }
  .top-navigation__nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
  }
  .top-navigation__nav-links li a {
    color: var(--text-color);
    font-size: 16px;
    line-height: 18px;
    transition: all 0.2s;
    border-bottom: 2px solid transparent;
    padding-bottom: 6px;
    text-decoration: none;
  }
  .top-navigation__nav-links li a:hover {
    color: var(--primary-color);
    border-bottom-color: var(--primary-color);
  }
  .top-navigation__burger {
    display: none;
  }
  .top-navigation__contact-us {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 18px;
    padding: 17px 48px;
    border: 1px solid var(--primary-color);
    border-radius: 24px;
  }
}
@media (min-width: 1920px) {
  .top-navigation nav {
    padding: 32px 320px;
  }
}
.top-navigation .top-navigation__contact-us:hover {
  background-color: #F15A24;
  color: white;
}

.hero-section {
  display: flex;
  flex-direction: column;
  padding: 60px 16px 16px 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .hero-section {
    padding: 60px 32px 16px 32px;
  }
}
@media (min-width: 1024px) {
  .hero-section {
    padding: 60px 40px 20px 40px;
  }
}
@media (min-width: 1920px) {
  .hero-section {
    padding: 60px 320px 20px 320px;
  }
}

h1 {
  font-size: 39px;
  line-height: 120%;
}
@media (min-width: 768px) {
  h1 {
    font-size: 49px;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 61px;
  }
}
@media (min-width: 1920px) {
  h1 {
    text-align: left;
    margin-bottom: 52px;
  }
}

p {
  padding: 20px 0 20px 0;
}
@media (min-width: 768px) {
  p {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  p {
    width: 704px;
    display: flex;
    justify-self: center;
  }
}
@media (min-width: 1920px) {
  p {
    width: 630px;
    text-align: left;
  }
}

.btn {
  background-color: #F15A24;
  color: #FFFFFF;
  padding: 16px 32px 16px 32px;
  border: none;
  font-weight: 700;
  margin-bottom: 40px;
}
@media (min-width: 1920px) {
  .btn {
    width: 174px;
    height: 56px;
  }
}

.btn:hover {
  cursor: pointer;
  background-color: white;
  color: #F15A24;
  border: 1px solid #F15A24;
}

.main-picture {
  border-radius: 40px;
  min-height: 280px;
  min-width: 328px;
  width: 100%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .main-picture {
    max-height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 1024px) {
  .main-picture {
    max-height: 510px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 1920px) {
  .main-picture {
    max-height: 510px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 1920px) {
  .hero-section__content {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1920px) {
  .hero-section__text {
    display: flex;
    flex-direction: column;
  }
}

.container .services-section__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 16px;
  padding: 0 16px 60px 16px;
}
.container .services-section__list-item {
  width: 100%;
  flex-grow: 1;
}
.container .services-icon {
  height: 40px;
  width: 40px;
}
.container h3 {
  font-size: 20px;
}
.container .card {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 24px;
  border-radius: 20px;
  background-color: #F7F7F7;
  border: none;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
}
.container .card p {
  padding: 12px 0 24px 0;
}
.container .card h3 {
  padding-top: 20px;
}
.container .card-text {
  padding: 0 24px 0 24px;
}
@media (min-width: 768px) {
  .container .services-section__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 32px 60px 32px;
    justify-content: space-between;
  }
  .container .services-section__list .services-section__list-item {
    width: calc(50% - 16px);
    max-width: none;
  }
  .container .services-section__list .card {
    align-items: flex-start;
    text-align: left;
    padding-left: 24px;
  }
  .container .services-section__list .card-text {
    padding-left: 0;
  }
}
@media (min-width: 1024px) {
  .container .services-section__list {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    padding: 0 40px 60px 40px;
  }
  .container .services-section__list-item {
    flex: 1 1 auto;
    min-width: 200px;
    max-width: 100%;
  }
  .container .card {
    height: 100%;
  }
  .container .card p {
    width: 173px;
  }
}
@media (min-width: 1920px) {
  .container .services-section__list {
    padding: 0 320px 60px 320px;
  }
  .container .hero-section__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
  }
}/*# sourceMappingURL=styles.css.map */